<a href="https://colab.research.google.com/github/Eduardostca/ML_/blob/main/Graded_Lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## DAB200 -- Graded Lab 1

In this lab, you will gain some experience in **denoising** a dataset in the context of a specific objective. 

**Overall Objective**: Create a model that predicts rent prices as well as possible for typical New York City apartments.

**Data set**: make sure you use the data with the same number as your group number!

| Group | Data set |
| :-: | :-: |
| 1 | rent_1.csv |
| 2 | rent_2.csv |
| etc. | etc. |

**Important Notes:**
 - This lab is more open-ended so be prepared to think on your own, in a logical way, in order to solve the problem at hand
     - You should be able to support any decision you make with logical evidence
 - The data looks like the data we have been using in class but it has other **surprises**
     - Be sure to investigate the data in a way that allows you to discover all these surprises
 - Use [Chapter 5](https://mlbook.explained.ai/prep.html) of the textbook as a **guide**, except:
     - you only need to use **random forest** models;
     - exclude Section 5.5; 
 - Code submitted for this lab should be:
     - error free
         - to make sure this is the case, before submitting, close all Jupyter notebooks, exit Anaconda, reload the lab notebook and execute all cells
     - final code
         - this means that I don't want to see every piece of code you try as you work through this lab but only the final code; only the code that fulfills the objective
 - Use the **out-of-bag score** to evaluate models
     - Read Section 5.2 carefully so that you use this method properly
     - The oob score that you provide should be the average of 10 runs
 - Don't make assumptions!

I have broken the lab down into 4 main parts.

### Part 0

Please provide the following information:
 - Group Number: 14
 - Group Members: 
     - Noushin Asadsamani (0829532)
     - Eduardo Chavez Barrientos (0828349)
     - Prasanna Kumar Loganathan (---)

### Part 1 - Create and evaluate an initial model

#### Code (15 marks)

In [ ]:
import pandas as pd
rent_14 = pd.read_csv("https://github.com/Eduardostca/ML_/raw/main/rent_14.csv")
rent_14

,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,longitude,manager_id,photos,price,street_address,interest_level,num_desc_words,mgr_apt_count
0,1.0,2,f14a61a49b66107bc2f0d605786ada9e,2016-05-06 05:40:30,NO FEE!! TRUE 2 BED( 1 QUEEN BED UPPER FLOOR) ...,East 13th Street,"['Dining Room', 'Balcony', 'Garden/Patio', 'Pr...",40.7301,-73.9825,be563466c0c0a5b295db3822c1c5e289,['https://photos.renthop.com/2/6975780_39bf7da...,4295,416 East 13th Street,low,127,24
1,2.0,3,90a92523c20dcaab46c12d1619186f85,2016-05-19 05:48:21,***Large Sunny 3 bedroom** This apartment just...,Clifton Place,"['Pre-War', 'Dogs Allowed', 'Cats Allowed']",40.6883,-73.9609,5239c98c3c2228c0369842750684054d,['https://photos.renthop.com/2/7039012_d012a99...,4695,79 Clifton Place,low,46,52
2,2.0,3,e0f787c39be40769fb269c641078eb50,2016-06-20 18:23:45,NO FEE !! ELEGANT BUILDING LOCATED IN MAGNIFIC...,Columbus Ave.,"['Balcony', 'Elevator', 'Terrace', 'Laundry in...",40.7943,-73.9675,dd6b488d74624d64a0ba4767d990da83,['https://photos.renthop.com/2/7183660_67285fb...,5950,784 Columbus Ave.,low,88,28
3,1.0,1,0,2016-04-02 03:29:12,"<![CDATA[1 bedroom, 1550, Bedford Stuyvesant/B...",Herkimer Street,[],40.6795,-73.9505,5a72de95cac7a85578ef414adb094111,['https://photos.renthop.com/2/6815254_27aca79...,1550,88 Herkimer Street,low,40,15
4,2.0,4,0,2016-06-15 06:10:52,Gorgeous Large 4 bedroom. Gorgeous kitchen wit...,206 East 83rd Street,"['Multi-Level', 'Pre-War', 'Dishwasher', 'Hard...",40.7765,-73.9550,7d28decc8e53977e80b7d9a05f624adc,['https://photos.renthop.com/2/7164732_f0cd41f...,6100,206 East 83rd Street,low,40,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,1.0,0,d4f23121dc558fba3efe1479257b664e,2016-06-03 06:01:35,**NO FEE** ULTRA LUXURY XL ALCOVE STUDIO/SAME ...,W 33 St.,"['Roof Deck', 'Doorman', 'Elevator', 'Fitness ...",40.7520,-73.9946,08abda736d77d880c4e17fbba5db3985,['https://photos.renthop.com/2/7105457_0918a9d...,3250,315 W 33 St.,low,158,34
19996,1.0,2,1edde1c89233fb1b1a38c53e992b0756,2016-05-06 05:38:28,COME SEE THIS AMAZING NEWLY RENOVATED 2 BED LU...,1st Ave.,"['Laundry in Unit', 'Dishwasher', 'Hardwood Fl...",40.7317,-73.9821,9f39caedae295bf81e67463e6fd0af40,['https://photos.renthop.com/2/6975746_dab1026...,3250,252 1st Ave.,low,118,67
19997,1.0,2,0,2016-04-23 02:37:53,Live in beautiful Clinton Hill where the trees...,Washington Avenue,"['Elevator', 'Laundry in Building', 'Dishwashe...",40.6682,-73.9801,4414b04ea8115e64639b64b73737036a,['https://photos.renthop.com/2/6915504_0db976d...,3000,266 Washington Avenue,low,103,26
19998,2.0,1,929a5d1d6720055e7d008c987e86d415,2016-05-05 01:40:42,NaN,Murray Street,"['Doorman', 'Fitness Center', 'Elevator', 'Gar...",40.7141,-74.0096,62b685cc0d876c3a1a51d63a0d6a8082,[],5166,50 Murray Street,low,0,161
19999,1.0,1,71450f00d46e576bfcc0cc5b18825284,2016-04-07 12:19:52,Incredibly beautiful luxury 1 bedroom apartmen...,Barclay Street,"['Common Outdoor Space', 'Cats Allowed', 'Dogs...",40.7156,-74.0100,045f9f5708f6896535892b85a81d8151,['https://photos.renthop.com/2/6840541_5407f64...,4150,10 Barclay Street,low,74,39

#### Explanation (5 marks)

Please provide an explanation and justification for the code submitted in **Part 1** in the context of the overall objective.

### Part 2 - Denoise the data

This section should only include the code necessary to **denoise** the data, NOT the code necessary to identify inconsistencies, problems, errors, etc. in the data. 

#### Code (25 marks)

### Part 3 - Create and evaluate a final model

#### Code (15 marks)

#### Explanation (5 marks)

Please provide an explanation and justification for the code submitted in **Part 3** in the context of the overall objective.

### Part 4 - Document the problems (35 marks)

In this part, please use the table below to document your understanding of all the data issues you discovered. Note that **no code** should be included, as that should be covered in **Part 2**. Also, note that even if one line of code fixed a few problems, you should list each problem separately in the table below, so be sure you have investigated the data properly. For example, if the list `[-6, 5, 0, 50]` represents heights of adults, the -6, 0, and 50 would represent three data issues to be included in the table below, even though one line of code may be able to address all of them. 

| Data issue discovered | Why is this a problem? | How did you fix it? | Why is this fix appropriate? |
| :- | :- | :- | :- | 
|  example problem 1  | example explanation    | example fix  | example explanation about why this fix is appropriate   |
|  example problem 2  | example explanation    | example fix  | example explanation about why this fix is appropriate   |